*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
header{
    background-color: rgb(225, 231, 236);
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 5;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 900;
}

nav a{
    text-decoration: none;
    color: #3a6cf4;
    font-weight: 500;
    font-size: 1.1;
    padding-left: 30px;
}
nav a:hover{
    color: darkblue;
    font-size: 1.1em;
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../imges/ahmed3.jpg);
    background-repeat: no-repeat;

    background-position: right 150px;
    background-size: 500px;
    background-color: #151e35;
}
.main h2{
    color: white;
    font-weight: 500;
    font-size: 1.4em;

}
.main h2 span{
    font-weight: 700;
    font-size: 3em;
    color: #0846ee;
    display: inline-block;
    margin-top:10px ;
}
.main h3{
    font-size: 2em;
    font-weight: 700;
    color: aliceblue;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.mainb{
    color: aliceblue;
    background-color: #0846ee;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: .7s ease;
}
.mainb:hover{
    background-color: #002eac;
    transform: scale(1.1 );
}
.icons a{
    color: white;
    font-size: 1.7em;
    padding-right: 30px;
}
.title{
    display: flex;
    justify-content: center;
    color: #002eac;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1  / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 50px;
    transition: .7s ease;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color: #002eac;
    font-size: 8em;
    text-align: center;
    margin: 10px;
}
.info{
    text-align: center;
}
.info h3{
        color: #002eac;
        font-size: 1.2em;
        font-weight: 700;
        margin: 10px;

}
.contact .icon{
        font-size: 4.5em;
}
.contact .info h3{
    color: #000;
}
.contact .info #ph{
    font-size: 1.5em;
}
.contact{
    border-top:5em solid #000;
}







@media (max-width:480px){
    header{
        padding: 12px 20px;
    }
    .nav a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main h2{
        font-size: 1.3em;
    }
    .main h2 span{
        font-size: 2.6em;
        white-space: break-spaces;
        width: 100px;
    }
    .main h3{
        font-size: 1.5em;
    }
    .content{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .main{
        background-size: 200px;
        background-position: 200px 130px ;
    }
}


@media (max-width:720px){
    header{
        padding: 12px 20px;
    }
    .nav a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main h2{
        font-size: 1.3em;
    }
    .main h2 span{
        font-size: 2.6em;
        white-space: break-spaces;
        width: 100px;
    }
    .main h3{
        font-size: 1.4em;
    }
    .content{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .main{
        background-size: 280px;
        background-position: 300px 130px ;
    }

}

@media (max-width:380px){
    header{
        padding: 12px 20px;
       background-size: 100vw;
    }
    .nav a{
        padding-left: 10px;
    }
    
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 70px 15px;
    }
    .main h2{
        font-size: 1.2em;
    }
    .main h2 span{
        font-size: 2.4em;
        white-space: break-spaces;
        width: 100px;
    }
    .main h3{
        font-size: 1.2em;
    }
    .content{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .main{
        background-size: 170px;
        background-position: 170px 130px ;
    }

}